.HeaderImgContainer {
    position: relative;
    z-index: -1;
}

#gradient-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(rgba(32, 255, 3, 0.7), rgba(243, 3, 35, 0.7));
    z-index: 13;
    /* Ensure the overlay is on top */
}

#TopHeaderImg {
    z-index: -2;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

/* alles hier drüber soll dem gradient zuspielen. nur topheaderimg aktuell von belang*/

#lowerHeaderWrapper {
    background-color: white;
}

#LowerHeaderHeadingWrapper {
    text-align: center;
    background-color: #ffffff;
    margin-top: 100vh;
    padding: 70px 0;
}

h3 {
    font-size: 12px;
}

h2 {
    font-size: 20px;
    letter-spacing: 4px;
}

#LowerHeaderPictureWrapper {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#LeftHeaderImg {
    margin-right: 5vw;
    width: 26vw;
}

#RightImageContainer {
    text-align: center;
    display: flex;
}

#RightImageWrapper {
    align-self: center;
}

#RightHeaderFrontImg {
    width: 14vw;
}

.RightHeaderImgDesc a {
    text-decoration: none;
    color: black;
}

.RightHeaderImgDesc {
    margin: 15px 0;
    font-size: 12px;
}

#ButtonWrapper {
    margin-Top: 40px;
}

.Button {
    text-decoration: none;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 80px;
    font-family: "Fjalla One", sans-serif;
    font-size: 12px;
    border: 2px solid black;
    background: linear-gradient(to left, black 50%, white 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
}

.Button:hover {
    color: black;
    background-position: left bottom;
}

.Button:not(:hover) {

    color: white;
}


/* .text {
    text-align: center;
    font-size: 16px;

    color: white;
    background: linear-gradient(to left, black 50%, white 50%) right;
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
} */


/* .text:hover {
    color: black;
}
 */

/*TODO: Bild höher als die page starten lassen, bild unten abschneiden und gradiant drauflegen
Bild von hinten einfügen bei hover
komischer weißer punkt linkes bild einfügen
Bild rechts column mäßig zentrieren
hoverfarbe beim text von button funktioniert nicht*/